<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd"> 
<html>
<head><title>{{w.title or ''}}</title></head>
<body {{w.attrs | xmlattr}}>
{% if w.navbar %}
{{w.navbar.display()}}
{% endif %}
{% if w.user %}
[Logged in as: {{w.user}}]
{{w.navbar.display()}}
{% endif %}
<h1>{{w.title or ''}}</h1>
{% if w.child %}
{{w.child.display()}}
{% endif %}
</body>
</html>
